key,type,encoding,value
main,namespace,,
wifissid,data,string,
wifipass,data,string,
stratumurl,data,string,172.65.44.224
stratumport,data,u16,3014
stratumuser,data,string,super66.66
stratumpass,data,string,x
fbstratumurl,data,string,public-pool.io
fbstratumport,data,u16,21496
fbstratumuser,data,string,bc1qsn80udljur00zn58eg7y7t84ds5mpp0fu9z4yc.68
fbstratumpass,data,string,x
asicfrequency,data,u16,550
asicvoltage,data,u16,1250
asicmodel,data,string,BM1366
minermodel,data,string,"LV07"
devicemodel,data,string,supra
boardversion,data,string,402