<div class="card">
    <h2>Test</h2>
</div>

<div class="grid">

    <div class="col-12">

        <div class="card">
            <!-- <h2><button pButton (click)="fetchChips()"
                    class="btn btn-secondary">检测芯片数量</button>
            </h2> -->
            <p>Detected {{chips}} chips in total</p>
        </div>
        <!-- <div class="card">
            <h2><button *ngIf="minerModel == 'LV08' || minerModel == 'LV09'" pButton (click)="updateSystem('one')"
                    class="btn btn-secondary">关闭第一路7F</button>

                <button *ngIf="minerModel == 'LV08' || minerModel == 'LV09'" pButton style="margin-left: 30px;" class="btn btn-secondary" (click)="updateSystem('two')"
                    >关闭第二路24</button>

                <button *ngIf="minerModel == 'LV09'" pButton style="margin-left: 30px;" class="btn btn-secondary" (click)="updateSystem('three')"
                    >关闭第三路14</button>
            </h2>
        </div> -->
    </div>
</div>